head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title= appName+' - '+title
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="")
  meta(name="description", content="Tiiipster | Have a good time. Every time")

  link(href='/img/trash/favicon.png', rel='shortcut icon', type='image/x-icon')
  
  meta(property='fb:app_id', content='APP_ID')
  meta(property='og:title', content='#{appName} - #{title}')
  meta(property='og:description', content='Tiiipster | Have a good time. Every Time')
  meta(property='og:type', content='website')
  meta(property='og:url', content='APP_URL')
  meta(property='og:image', content='APP_LOGO')
  meta(property='og:site_name', content='Tiiipster')
  meta(property='fb:admins', content='APP_ADMIN')

  link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans:300,600&subset=latin,cyrillic-ext,cyrillic')
  link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Raleway:300,600')

  link(rel='stylesheet', href='/lib/bootstrap/docs/assets/css/bootstrap.css')
  link(rel='stylesheet', href='/lib/bootstrap/docs/assets/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='/css/angular-slider.min.css')
  link(rel='stylesheet', href='/css/common.css')
  link(rel='stylesheet', href='/css/demo-animation.css')
  link(rel='stylesheet', href='/css/animation.css')

  link(rel='stylesheet', href='/css/views/index.css')
  link(rel='stylesheet', href='/css/views/gigs.css')
  link(rel='stylesheet', href='/css/views/articles.css')
  link(rel='stylesheet', href='/css/views/curators.css')
  link(rel='stylesheet', href='/css/views/about.css')
  link(rel='stylesheet', href='/css/views/letter.css')

  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
