/* line 11, ../sass/common.sass */
body, h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #181818;
}

/* line 16, ../sass/common.sass */
ul {
  list-style: none;
}

/* line 19, ../sass/common.sass */
a {
  color: #333333;
  text-decoration: none;
  font-weight: 600;
}
/* line 24, ../sass/common.sass */
a:hover {
  color: #666666;
  text-decoration: underline;
}

/* line 31, ../sass/common.sass */
.navbar .nav > li > a.brand {
  padding: 0 20px 5px;
  margin-left: 0;
}
/* line 34, ../sass/common.sass */
.navbar .brand {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 38, ../sass/common.sass */
.navbar li.with_brand a {
  padding-top: 0;
  padding-bottom: 0;
}

/* line 42, ../sass/common.sass */
.navbar-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
}

/* line 45, ../sass/common.sass */
.navbar-fixed-bottom {
  position: fixed;
  top: 0;
  left: 0;
}

/* line 49, ../sass/common.sass */
.navbar {
  margin: 0;
}
/* line 52, ../sass/common.sass */
.navbar .navbar-inner {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  width: 1000px;
  margin: 0 auto;
}
/* line 60, ../sass/common.sass */
.navbar .nav.pull-center {
  float: none;
  display: block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  margin: 0 auto;
}
/* line 68, ../sass/common.sass */
.navbar .nav.pull-center li {
  text-align: center;
  float: none;
}
/* line 71, ../sass/common.sass */
.navbar .nav.pull-center a {
  padding: 0;
  padding-top: 15px;
}
/* line 75, ../sass/common.sass */
.navbar .nav.pull-right {
  position: absolute;
  top: 0;
  right: 14%;
  left: inherit;
  z-index: 1000;
}
/* line 82, ../sass/common.sass */
.navbar .nav li.dropdown.open > .dropdown-toggle {
  background: none;
}

/* line 85, ../sass/common.sass */
.content {
  margin-top: 0;
  width: 100%;
  padding-bottom: 160px;
}
/* line 90, ../sass/common.sass */
.content .container {
  width: 1000px;
}
/* line 93, ../sass/common.sass */
.content .container form {
  padding: 20px;
}
/* line 96, ../sass/common.sass */
.content .container footer form {
  padding: 0;
}

/* line 99, ../sass/common.sass */
.header-navbar {
  margin: 0;
  padding: 0;
  height: 93px;
}
/* line 104, ../sass/common.sass */
.header-navbar div {
  margin: 0;
  padding: 0;
  height: 93px;
}

/* Allow angular.js to be loaded in body, hiding cloaked elements until 
 * templates compile.  The !important is important given that there may be 
 * other selectors that are more specific or come later and might alter display.  
 */
/* line 114, ../sass/common.sass */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* line 117, ../sass/common.sass */
footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background: white;
}
/* line 124, ../sass/common.sass */
footer div {
  width: 620px;
  margin: 44px auto 0;
}
/* line 128, ../sass/common.sass */
footer div p {
  white-space: nowrap;
}
/* line 131, ../sass/common.sass */
footer form {
  border: 1px solid #2c2f31;
  padding: 0;
  margin: 0;
}
/* line 136, ../sass/common.sass */
footer form input,
footer form input[type=text],
footer form input[type=submit] {
  border: 0;
  display: inline-block;
  background-color: transparent;
  border-radius: 0;
  border-shadow: none;
  margin: 0;
}
/* line 146, ../sass/common.sass */
footer form input[type=text] {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  border-right: 1px solid #2c2f31;
}
/* line 151, ../sass/common.sass */
footer p {
  padding: 5px 0;
  margin: 0 0 50px 0;
}

/* line 155, ../sass/common.sass */
h1 {
  margin: 0;
  padding: 5px 15px;
}

/* line 160, ../sass/common.sass */
.with_hint .the_hint {
  display: none;
  font-size: smaller;
}
/* line 164, ../sass/common.sass */
.with_hint span {
  font-size: smaller;
}
/* line 168, ../sass/common.sass */
.with_hint:hover .the_hint {
  display: inline;
}
